// Colors
$white: #ffffff;
$black: #2a3133;
$lightblack: #373d43;
$gray: #f9f9f3;
$darkgray: #f0f5f2;
$knockoutBold: 'Knockout 49 A', 'Knockout 49 B', sans-serif;
$knockoutReg: 'Knockout 29 A', 'Knockout 29 B', sans-serif;
$gotham: 'Gotham A', 'Gotham B', sans-serif;
$caslon: adobe-caslon-pro, serif;

// Numeric stuff
$headerHeight: 56px;
