main.page-type-404 {
  min-height: 50vh;
  .hero {
    min-height: 60vh;
    display: flex;
    .row {
      width: 100%;
      .col {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: 156px;
          height: 182px;
        }
      }
    }
  }
  .align-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
