.page-type-home {
}

.home-hero {
  padding-top: 3rem;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    padding-top: 5rem;
  }

  &__image {
    position: relative;
    padding: 85% 0;

    img {
      position: absolute;

      &:first-child {
        width: 50%;
        height: auto;
        left: 25%;
        top: 5%;
        z-index: 4;
      }

      &:nth-child(2) {
        width: 48%;
        height: auto;
        left: 2%;
        top: 40%;
        z-index: 2;
      }

      &:nth-child(3) {
        width: 48%;
        height: auto;
        left: 50%;
        top: 34%;
        z-index: 1;
      }

      &:nth-child(4) {
        width: 46%;
        height: auto;
        left: 30%;
        bottom: 12%;
        z-index: 3;
      }

      &:nth-child(5) {
        width: 54%;
        height: auto;
        left: 32%;
        top: 26%;
        z-index: 5;
      }
    }

    .logo {
      position: absolute;
      width: 130px;
      height: auto;
      left: 1%;
      top: 0%;
      z-index: 6;

      @include media-breakpoint-up(md) {
        left: -15%;
        top: -13%;
      }

      @include media-breakpoint-up(lg) {
        left: -10%;
        top: 15%;
      }

      svg {
        width: 100%;
        height: auto;
      }
    }
  }
  &__text {
    h2 {
      position: relative;
      color: $black;
      text-transform: uppercase;

      > span {
        display: block;
        position: relative;

        &:first-child {
          font-size: 5rem;
          letter-spacing: 0.04em;
          font-family: $knockoutBold;
        }

        &:nth-child(2) {
          font-size: 4rem;
          line-height: 3.5rem;
          max-width: 290px;
          // left: 40px;
          margin: 2rem 0;
          font-family: $knockoutReg;

          @include media-breakpoint-up(lg) {
            left: 40px;
          }
        }

        &:nth-child(3) {
          font-size: 5rem;
          display: table;
          z-index: 1;
          letter-spacing: 0.02em;
          font-family: $knockoutBold;
          // left: 80px;

          @include media-breakpoint-up(lg) {
            left: 80px;
          }

          a:hover {
            text-decoration: none;
          }
        }
      }
    }

    p {
      margin-top: 4rem;
      font-size: 1.6rem;
      color: $black;
    }
  }

  &__hint {
    position: absolute;
    top: -50px;
    right: 50px;
    transform: translateX(100%) rotate(-15deg);
    display: flex;
    align-items: center;

    @include media-breakpoint-up(xl) {
      top: 40px;
      right: -20px;
      transform: translateX(100%) rotate(15deg);
    }

    svg {
      width: 45px;
      margin-right: 5px;
      transform: rotate(-35deg);

      @include media-breakpoint-up(xl) {
        transform: rotate(-20deg);
      }
    }

    span {
      width: 110px;
      font-size: 1.2rem;
      color: $black;
    }
  }
}

.home-graph {
  &__cpal {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;

    p {
      text-align: center;
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: $black;
    }

    img {
      width: 100%;
      max-width: 48px;
      height: auto;
      margin: 0 14px;
    }
  }
  &__text {
    @include media-breakpoint-up(md) {
      position: absolute !important;
      z-index: 1;
      top: 0;
    }

    h2 {
      font-size: 2.8rem;
      line-height: 3.4rem;
      margin: 0 0 2.5rem;
      color: $black;
    }

    p {
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin: 3.2rem 0;
      color: $black;
      font-family: $caslon !important;
    }

    a {
      font-family: inherit !important;
      padding: 0;
      color: inherit;

      &:hover {
        color: inherit;
        text-decoration: none !important;
      }

      &.dotted-bottom {
        color: #a45e0b;
        background-image: repeating-linear-gradient(
          90deg,
          #a45e0b,
          #a45e0b 1px,
          transparent 0,
          transparent 4px
        );
      }

      &:not(.dotted-bottom) {
        position: relative;
        @include highlight;
      }
    }

    em {
      font-family: inherit !important;
      margin: 0 2rem;
    }
  }
  &__image {
    @include media-breakpoint-only(md) {
      margin: 12rem 0 0;
    }

    &-source {
      display: flex;
      // align-items: center;

      // max-width: 400px;

      div {
        display: flex;
        align-items: center;
        padding: 9px 11px;

        > span {
          font-size: 1.6rem;
          line-height: 1.6rem;
          color: $black;
          position: relative;
          top: 2px;
        }
      }

      svg {
        width: 24px;
        height: auto;
      }

      &:hover {
        color: $black;
        text-decoration: none;

        p {
          width: 200px;

          @include media-breakpoint-up(sm) {
            width: 280px;
          }
        }
      }

      p {
        margin-left: 15px;
        position: relative;
        top: 5px;
        width: 0;
        overflow: hidden;
        transition: width 0.3s ease-out;

        @include media-breakpoint-up(sm) {
          margin-left: 25px;
        }

        span {
          display: block;
          font-size: 1.1rem;
          line-height: 1.6rem;
          color: black;
          min-width: 200px;

          @include media-breakpoint-up(sm) {
            min-width: 280px;
          }
        }
      }
    }
  }

  &__element {
    &-y {
    }

    &-row {
      display: flex;
      align-items: center;
      margin-bottom: 10%;

      div {
      }

      span {
        text-align: right;
      }
    }

    &-x {
    }

    &-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 15%;

      &:last-child {
        margin-right: 0;
      }

      div {
      }

      span {
      }
    }
  }
}

.home-engage {
  &__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    max-width: 375px;
  }

  &__card {
    padding: 4rem 3rem;
    display: flex;
    align-items: center;

    @include media-breakpoint-up(md) {
      padding: 6rem 5rem;
    }

    @include media-breakpoint-up(lg) {
      padding: 6rem 11rem;
    }

    &.home-engage__card--explorer {
      padding: 20rem 3rem 4rem;
      background: linear-gradient(
        1.85deg,
        #f9f9f3 35.03%,
        rgba(249, 249, 243, 0) 80.2%
      );

      @include media-breakpoint-up(md) {
        padding: 4rem 3rem;
        background: linear-gradient(
          281.85deg,
          #f9f9f3 26.03%,
          rgba(249, 249, 243, 0) 85.2%
        );
      }
    }

    &-content {
      h2 {
        font-size: 2.2rem;
        line-height: 5.2rem;
        color: $black;
        margin: 0 0 2rem;
      }

      h3,
      h4 {
        font-size: 3.4rem;
        line-height: 4rem;
        margin: 0 0 2rem;
        color: $black;
        font-family: $caslon !important;

        p {
          font-family: inherit;
        }

        a {
          z-index: 0;
          position: relative;
          @include highlight;

          &:hover {
            text-decoration: none;
          }
        }
      }

      > p {
        font-size: 1.5rem;
        line-height: 2.25rem;
        margin: 0 0 3rem;
        color: $black;
        max-width: 456px;

        a {
          font-family: inherit !important;
          color: inherit;
          margin-bottom: 3.5rem;

          @include media-breakpoint-up(sm) {
            margin-right: 3.5rem;
            margin-bottom: 0;
          }
        }
      }
    }

    &--left &-content {
      max-width: 450px;

      > p {
        max-width: 385px;
      }
    }

    &-image {
      width: 100%;
      max-width: 275px;

      @include media-breakpoint-up(md) {
        position: relative;
        left: -14rem;
        margin-right: -8rem;
      }
    }

    &--left &-image {
      @include media-breakpoint-up(md) {
        left: 0;
        margin-right: 6rem;
      }
    }

    &-topics {
      width: 100%;
      max-width: 23rem;

      @include media-breakpoint-up(md) {
        margin-left: 9rem;
      }
    }

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      display: flex;
      align-items: center;
      padding: 0 1rem 0.65rem;
      margin: 0 0 0.65rem;

      a {
        color: inherit;

        &:hover {
          text-decoration: none;
        }
      }

      > div {
        border-radius: 50%;
        width: 1.7rem;
        height: 1.7rem;
        margin-right: 7px;
      }

      span {
        font-size: 1.685rem;
        line-height: 2.1rem;
        position: relative;
        top: 3px;
      }
    }

    .btn-orange {
      display: inline-block;
      background-color: #a45e0b;
      font-family: $knockoutBold !important;
      color: #fff;
      font-size: 1.4rem;
      line-height: 1.5rem;
      width: 100%;
      max-width: 180px;
      text-align: center;
      padding: 13px;
      border-radius: 6px;
      text-transform: uppercase;
      letter-spacing: 0.03px;

      &:hover {
        text-decoration: none;
        color: #fff;
      }

      &.secondary {
        background-color: unset;
        border: 1px solid #a45e0b;
        color: #a45e0b;

        &:hover {
          text-decoration: none;
          color: #a45e0b;
        }
      }
    }
  }
}
