// Imports knockout, gotcham book and adobe caslon.
//  @import url('https://use.typekit.net/alo0hmm.css');
@import url('https://cloud.typography.com/6135894/7078832/css/fonts.css');
@import url('https://use.typekit.net/ide5yeh.css');

@import '~bootstrap/scss/bootstrap.scss';
@import 'utilities/variables';
@import 'utilities/utilities';

// Components
@import 'components/layout';
@import 'components/header';
@import 'components/footer';
@import 'components/contactForm';
@import 'components/SlideoutMenu';

// Pages
@import 'pages/home';
@import 'pages/404';
@import 'pages/about';
@import 'pages/library';
@import 'pages/faq';

body * {
  font-family: 'Gotham A', 'Gotham B', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    font-family: inherit;
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

html {
  font-size: 62.5%; // sets sitewide font sizes based on user's font size in browser
}
