html {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  position: relative;
}

main {
  // margin-top: $headerHeight;
  &.page-type-explorer {
    margin-top: 0px;
    .layout main {
      margin-top: 0px;
    }
  }
  min-height: 75vh;
}
