html {
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
}

main {
  margin-top: $headerHeight;
  &.page-type-explorer {
    margin-top: 0px;
    .layout main {
      margin-top: 0px;
    }
  }
  min-height: 75vh;
}
