.menu-slideout {
  height: 100vh;
  width: 100%;
  // right: -350px;
  right: 0;
  // transition: right 0.35s linear 0s !important;
  transform: translateX(100%);
  transition: transform 0.35s ease-out 0s !important;
  top: 0;
  z-index: 1300;
  position: fixed;
  background-color: $black;
  padding: 10rem 3rem;
  font-size: 2.6rem;
  box-shadow: 1px 1px 3px #ccc;

  @include media-breakpoint-up(md) {
    padding: 12.3rem 6.5rem;
    width: 530px;
  }

  &.show {
    // right: -0px;
    transform: translateX(0%);
    // transition: right 0.35s linear 0s !important;
  }
  .btn-close {
    position: absolute;
    font-size: 2rem;
    right: 2rem;
    top: 2rem;

    path {
      stroke: $white;
    }
  }

  a {
    font-family: $knockoutBold;
    text-transform: uppercase;
    color: $white;
    font-size: 3rem;
    line-height: 3rem;

    @include media-breakpoint-up(md) {
      font-size: 4rem;
      line-height: 4rem;
      margin: 0 0 2rem;
    }

    &:hover {
      color: #d6d6d6;
    }
  }
}
